@import 'styles/variables.scss';

.App {
  background: $background-color;
  color: $text-color;
  height: fit-content;
  padding: $nav-height 20px 0 20px;
  min-height: calc(100vh - 100px);
  display: flex;
  flex-direction: column;

  @media screen and (min-width: 500px) {
    padding: $nav-height 40px 0 40px;
  }
}

.fade-enter {
  opacity: 0;
  z-index: 1;
}

.fade-enter.fade-enter-active {
  opacity: 1;
  transition: opacity 250ms ease-in;
}
