.Nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1; }
  .Nav__wrapper {
    z-index: 100;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: black;
    height: 80px;
    padding: 10px; }
  .Nav__dropdown {
    height: 100%;
    width: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative; }
    @media screen and (min-width: 900px) {
      .Nav__dropdown {
        display: none; } }
    .Nav__dropdown--icon {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
      width: 100%;
      z-index: 1;
      background: black; }
    .Nav__dropdown-menu {
      position: absolute;
      z-index: -1;
      right: 0;
      transform: translateY(-100%);
      background: black;
      border: 2px solid white;
      transition: all 0.5s; }
      .Nav__dropdown-menu--open {
        transform: translateY(77%);
        transition: all 0.5s; }
      .Nav__dropdown-menu-outside {
        display: none;
        z-index: -2;
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0; }
        .Nav__dropdown-menu-outside--open {
          display: initial; }
  .Nav__link--link {
    font-size: 25px;
    padding: 10px; }
  .Nav__buttons {
    height: 100%;
    display: none;
    justify-content: space-between;
    align-items: center; }
    @media screen and (min-width: 900px) {
      .Nav__buttons {
        display: flex; } }
