.ContactForm__submit, .ContactForm__reset {
  border: 2px solid white;
  padding: 5px 10px;
  background: none;
  color: white;
  margin: 5px;
  font-size: 24px; }
  .ContactForm__submit:hover, .ContactForm__reset:hover {
    background: grey; }

.ContactForm__header {
  font-size: 18px; }
  @media screen and (min-width: 400px) {
    .ContactForm__header {
      font-size: calc(18px + 4px); } }
  @media screen and (min-width: 500px) {
    .ContactForm__header {
      font-size: calc(18px + 8px); } }
  @media screen and (min-width: 600px) {
    .ContactForm__header {
      font-size: calc(18px + 12px); } }

.ContactForm__label {
  margin-bottom: 10px;
  font-size: 16px; }

.ContactForm__input {
  border: none;
  height: 30px;
  width: 80%; }
  .ContactForm__input--textarea {
    height: 100px; }
