@import 'styles/variables.scss';

.Rock {
  display: flex;
  align-items: baseline;
}
.rock-line {
  fill: $line-color;
}
.rock-fill {
  fill: $fill-color;
}
.rock-text {
  fill: $line-color;
  font-family: 'CourierNewPSMT';
  font-size: 180px;
  pointer-events: none;

  &__portfolio {
    font-size: 155px;
  }
}
#rock-svg:hover {
  cursor: pointer;
}
#rock-svg:hover .rock-fill  {
  fill: $rock-yellow;
}
