@import './section.scss';
@import './button.scss';

@mixin font-break($base: 12px) {
  font-size: $base;

  @media screen and (min-width: 400px) {
    font-size: calc(#{$base} + 4px);
  }
  @media screen and (min-width: 500px) {
    font-size: calc(#{$base} + 8px);
  }
  @media screen and (min-width: 600px) {
    font-size: calc(#{$base} + 12px);
  }
}
